@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Genos&family=Raleway&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    width: 100 vw;
    height: 100vh;
    background-color: rgb(19, 19, 29);
    display: grid;
    place-items: center;
    cursor: none;
}

#canvasWrapper {
    width: 100vw;
    height: 100vh;
}
#canvas {
    width: 100% !important;
    height: 100% !important;
}

article {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    color: white;
    font-family: 'Bangers', cursive;;
}
h1 {
    font-size: 4rem;
}
p{
    font-size: 2rem;
}
